<html>
<head>
 <style>

.btn-off {
	background-color:#F05B4E;
	border:12px solid #CD3041;
	/*display:inline-block;*/
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	top: 50%;
	left: 30%;
	padding:20%;
	text-decoration:none;
	position: relative;
	width: 50%;
	max-width: 1080px;
	margin:0 auto;


}
.btn-off:hover {
	background-color:#A62C39;
}
.btn-off:active {
	position:relative;
	top:1px;
}
 </style>
</head>
<body>
</form>

<form action="/off" method="post">
    <button type="submit" class="btn-off" value="Off" />
	    OFF
    </button>
</form>
</body>
</html>


