<html>
<head>
 <style>
.btn-on {
	background-color:#44c767;
	border:12px solid #18ab29;
	/*display:inline-block;*/
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:28px;
	padding:20%;
	text-decoration:none;
	position: relative;
	width: 50%;
	max-width: 1080px;
	margin:0 auto;
	top: 50%;
	left: 30%;

}
.btn-on:hover {
	background-color:#5cbf2a;
}
.btn-on:active {
	position:relative;
	top:1px;
}

 </style>
</head>
<body>
<form action="/on" method="post">
    <button type="submit" class="btn-on" value="On" />
	    ON
    </button>
</form>
</body>
</html>


